################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ITSMConnector/ITSMConnector/obj
/ITSMConnector/ITSMConnector/bin
